/*
  18像素灰色#bbb右箭头
 */
.arrow-right-gray-18{
  font-size: 0.18rem;
  font-weight: 300;
  color: #bbbbbb;
}
/*
  标题
 */
.title-header{
  font-size: 0.1757rem;
  color: #333333;
  background: #ffffff;
  padding: 0 0.14rem;
  height: 0.4453rem;
  line-height: 0.4453rem;
  border-bottom: 0.0005rem solid #e4e4e4;
}
